/* Variables */

:root {
	--first-gradient-color: #a5fff6;
	--second-gradient-color: #ffcc0f;
	--main-font: "Quicksand", sans-serif;
	--h-color: #021a48;
	--p-color: black;
}


/*

CSS Reset - McLeod Reset

Source: https://github.com/GoesToEleven/html-css-bootcamp/blob/master/018_css-reset/04_mcleod-reset/mcleod-reset.css

*/

html, body, div, span, h1, h2, h3, h4, h5, h6, button, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, nav, output, section, time, mark, audio, video, input, textarea, select {
    margin: 0;
    padding: 0;
    border: 0;
    /* inherits the browser's font properties: font-size 16px */
	font-family: var(--main-font), sans-serif;
    /*  specifies the vertical alignment of an inline element */
    vertical-align: baseline;

    box-sizing: border-box;

    /*  specifies the height of line boxes within the element. */
    line-height: 150%;

    border-radius: 0;

    /* no outline around anything */
    outline: none;

    /* inherit the color value of the parent */
	color: var(--p-color);
}

ol, ul {
    /* no bullets in lists */
    list-style: none;
}

a {
    /* no underline */
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

blockquote, q {
    /* no quotes */
    quotes: none;
}

table {
    /* no spacing between cells*/
    border-spacing: 0;
    /*borders are collapsed - adjacent table cells share borders */
    border-collapse: collapse;
}

input, select, progress{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

svg {
    width: 1.9em;
    height: 1.9em;
    fill: currentColor;
}

/* Colors */

*, header, footer {
}

h1, h2, h3, h4, h5, h6 {
	color: var(--h-color);
}

p {
    color: var(--p-color);
}

.row-gradient {
	background: linear-gradient(135deg, var(--first-gradient-color) 30%, var(--second-gradient-color));
}

.row-gradient-inverted {
	background: linear-gradient(45deg, var(--second-gradient-color) -10%, var(--first-gradient-color));
}


/* Typography */


h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 400;
}

h2 span, h3 span {
    font-weight: 700;
    color: var(--h-color);
}

p {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 2em;
}

.year {
    font-weight: 600;
}

/* Box model */


.row {
	min-height: 40vh;
    width: 100%;
}

.row-fullheight {
	min-height: 100vh;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 3em 1em;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    width: 50%;
}

.toc {
    text-align: center;
}

footer {
    background: linear-gradient(45deg, var(--first-gradient-color) 20%, var(--second-gradient-color));
}